<div class="main-content">
    <div class="container-fluid">
  
      <div class="row">
        <div class="col-md-6"></div>
        <div class="col-md-6 text-right">
            <a class="btn btn-primary" routerLink="/add-teacher">Add Teacher</a>
        </div>
          <div class="col-md-12">
              <div class="card">
                  <div class="card-header card-header-warning">
                      <h4 class="card-title ">Teachers</h4>
                      <p class="card-category"> All the teachers of this institute are listed below.</p>
                  </div>
                  <div class="card-body">
                      <div class="table-responsive">
                          <table class="table" *ngIf="teachers | async">
                              <thead class=" text-primary">
                                  <th>
                                    ID
                                  </th>
                                  <th>
                                    Name 
                                  </th>
                                  <th>
                                    Qualification 
                                  </th>
  
                              </thead>
                              <tbody>
                                  <tr *ngFor="let teacher of (teachers | async); let i=index;">
                                      <td>
                                          {{ i + 1 }}
                                      </td>
                                      <td>
                                          {{ teacher?.firstName + ' ' + teacher?.lastName }}
                                      </td>
                                      <td>
                                          {{ teacher?.qualification?.degree + ' , ' + 
                                             teacher?.qualification?.programme    
                                          }}
                                      </td>
                                  </tr>
                              </tbody>
                          </table>
                      </div>
                  </div>
              </div>
          </div>        
      </div>
      
    </div>
  </div>
  